<section class="add-restaurants">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3 add-title">
                <h4>Add Your Restaurant</h4> </div>
            <div class="col-xs-12 col-sm-5 join-text">
                <p>Are you a Restaurant business owner? Sign up to create an online menu for your restaurant to allow your customers to place online orders for food</p>
            </div>
            <div class="col-xs-12 col-sm-4 join-btn text-xs-right"><a href="/register" class="btn theme-btn btn-lg">Register</a> </div>
        </div>
    </div>
</section>